<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- Product Components-->
    <ComponentGroup Id="ProductComponents" >      
      
      <ComponentRef Id="MainAppShortcut" />
      
    </ComponentGroup>
    <!-- Installed Files -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\Desktop\bin\Release\netcoreapp3.1\win-$(var.Platform)\publish\">
      <Component Id="MainAppShortcut" Guid="{74F0C289-23BD-443B-BA90-E70E72C40CFD}">
        
        <Shortcut Id="MainAppShortcut" 
                  Name="!(loc.ProductName_$(var.Platform))" 
                  Target="[INSTALLFOLDER]Desktop.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  />
        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes"/>
        <!-- Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
